
<h1>Privacy Policy</h1>

<h2>Privacy Notice</h2>

<strong>Effective Date</strong>: July 1, 2021

<p>
  This privacy notice discloses the privacy practices for (anakinskywalkerjourney.ca). This privacy notice applies solely to information collected by this website, except where stated otherwise. It will notify you of the following:
</p>
<li style="list-style-type:none;">
  <ul>What information we collect;</ul>
  <ul>With whom it is shared;</ul>
  <ul>How it can be corrected;</ul>
  <ul>How it is secured;</ul>
  <ul>How policy changes will be communicated; and</ul>
  <ul>How to address concerns over misuse of personal data.</ul>
</li>

<h4>Information Collection, Use, and Sharing</h4>
<p>
  We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone.
</p>
<p>
  We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request, e.g., to ship an order.
</p>
<p>
  Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy.
</p>
<h4>
  Your Access to and Control Over Information
</h4>
<p>
  You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us via the email address or phone number provided on our website:
</p>
<li style="list-style-type:none;">
  <ul>
    See what data we have about you, if any.
  </ul>
  <ul>
    Change/correct any data we have about you.
  </ul>
  <ul>
    Have us delete any data we have about you.
  </ul>
  <ul>
    Express any concern you have about our use of your data.
  </ul>
  <h4>
    Security
  </h4>
  <p>
    We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline.
  </p>
  <p>
    Wherever we collect sensitive information (such as credit card data), that information is encrypted and transmitted to us in a secure way. You can verify this by looking for a closed lock icon at the bottom of your web browser, or looking for "https" at the beginning of the address of the web page.
  </p>
  <p>
    While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only employees who need the information to perform a specific job (e.g, billing or customer service) are granted access to personally identifiable information. The computers/servers on which we store personally identifiable information are kept in a secure environment.
  </p>
  <h4>
    Notification of Changes
  </h4>
  <p>
    Whenever material changes are made to the privacy notice specify how you will notify consumers.
  </p>
  <h4>
    Other Provisions as Required by Law
  </h4>
 
  <p>
    If you feel that we are not abiding by this privacy policy, you should contact us immediately via telephone at 555 555-1234 or via email.
  </p>

  <h3>Additional Clauses</h3>
  
  <h4>Registration</h4>
  <p>
    In order to use this website, a user must first complete the registration form. During registration a user is required to give certain information (such as name and email address). This information is used to contact you about the products/services on our site in which you have expressed interest. At your option, you may also provide demographic information (such as gender or age) about yourself, but it is not required.
  </p>
  
  <h4>Cookies</h4>
  <p>
    We use "cookies" on this site. A cookie is a piece of data stored on a site visitor's hard drive to help us improve your access to our site and identify repeat visitors to our site. For instance, when we use a cookie to identify you, you would not have to log in a password more than once, thereby saving time while on our site. Cookies can also enable us to track and target the interests of our users to enhance their experience on our site. Usage of a cookie is in no way linked to any personally identifiable information on our site.
  </p>
<p>
    Some of our business partners may use cookies on our site (e.g., advertisers). However, we have no access to or control over these cookies.
  </p>
  <h4>Sharing</h4>
  <p>We share aggregated demographic information with our partners and advertisers. This is not linked to any personal information that can identify any individual person.
  </p>
