<header>
  <nav class="navbar navbar-expand-sm fixed-top navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">DotNetCoreWithAngular</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

        <ul class="navbar-nav flex-grow-1">
          <li class="nav-item">
            <a class="nav-link text-light" [routerLink]="['/light-side']">Light Side</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" [routerLink]="['/dark-side']">Dark Side</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" [routerLink]="['/betrayal']">Betrayal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" [routerLink]="['/redemption']">Redemption</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<!--
<header>







-->
